body {
    text-align: center;
}

.killerContainer {
    display: inline-flex;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-around;
}

.killer {
    background-color: red; 
    padding: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-basis: 50px;
    cursor: pointer;
}

.killer.enlargeblur {
    position: fixed;
    width: 70%;
    height: 70%;
    transform: translate(0%, 0%) scale(1);
    align-content: center;
    z-index: 1000;
    box-sizing: border-box;
    backdrop-filter: blur(500px);
}
  